<div>
    <app-navbar></app-navbar>
    <app-hero></app-hero>
    <app-text-hero></app-text-hero>
    <app-carousel class="h-screen-50 flex flex-col md:flex-row justify-center items-center" locationValue="first"></app-carousel>
    <app-where-when></app-where-when>
    <app-carousel class="h-screen-50 flex flex-col md:flex-row justify-center items-center" locationValue="second"></app-carousel>
    <app-travel-lodging></app-travel-lodging>
    <app-gifts></app-gifts>
    <app-things-to-do></app-things-to-do>
    <app-rsvp></app-rsvp>
    <app-footer></app-footer>
</div>
