<div class="things flex flex-col items-center py-24 md:py-30">
    <div class="w-4/5 lg:w-3/6 py-4">
        <div class="text-left py-5">
            <h3 class="inter text-xs font-medium text-white my-1">WHILE YOU'RE HERE</h3>
            <p class="text-3xl lora text-white">Things to do</p>
        </div>
        <div class="h-full mx-auto flex flex-row flex-wrap gap-x-1 justify-between">
            <div *ngFor="let amenity of amenities" class="amenity my-2 w-2/5">
                <p class="light-green-text inter text-xs font-medium">{{amenity.type}}</p>
                <p class="light-green-text lora text-lg">{{amenity.title}}</p>
                <ul>
                    <li class="text-white inter text-xs font-medium py-1"><a class="ml-2" target="_blank"
                            href="{{amenity.link}}">{{amenity.linkTitle | uppercase}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>