<div class="things flex flex-col items-center">
    <div class="w-4/5 py-4">
        <div class="text-left py-5">
            <h3 class="inter text-xs font-medium text-white my-1">WHILE YOU'RE HERE</h3>
            <p class="text-3xl lora text-white">Things to do in Lyon</p>
        </div>
        <div class="h-full flex flex-row flex-wrap justify-left py-4">
            <div *ngFor="let amenity of amenities" class="amenity my-1 w-1/2">
                <p class="light-green-text inter text-xs font-medium">{{amenity.type}}</p>
                <p class="light-green-text lora text-lg">{{amenity.title}}</p>
                <ul>
                    <li class="text-white inter text-xs font-medium py-1"><a class="ml-2" target="_blank"
                            href="{{amenity.link}}">{{amenity.linkTitle | uppercase}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>