<div id="where&when" class="h-screen-150 md:h-screen text-hero flex flex-col justify-center items-center green-text">
    <div class="relative w-full h-full md:h-4/5 flex flex-col items-center">
        <div class="centered z-10 text-center">
            <h2 class="inter text-sm font-medium my-1 "> WHERE </h2>
            <p class="lora text-3xl lg:text-7xl">Château La Colombie</p>
            <p class="inter mx-auto my-5 text-base w-4/5 lg:w-2/5">A medieval château set against the serene backdrop of the French countryside. Enjoy the beautiful surroundings for the
            festivities of our wedding. Located in the Lot-et-Garonne, near Agen.</p>
            <a class="bg-green-800 hover:bg-green-900 text-white my-2 py-2 px-4 rounded-full" href="https://goo.gl/maps/nWW6VYDJRoRmxCwd8" target="_blank">VIEW ON MAPS</a>
        </div>
        <div class="chateau-image z-0"></div>
    </div>

    <div class="sections h-full w-full flex flex-col md:flex-row">
        <div class="section-1 h-1/2 md:h-full w-full mt-2 md:mt-0 md:my-2 flex flex-col justify-center items-center">
            <div class="w-4/5 lg:w-3/5 text-left">
                <span class="inter text-sm font-medium my-1"> DAY 1 - 15/06/23</span>
                <h3 class="lora text-3xl lg:text-7xl">Ceremony</h3>
                <p class="inter py-3 lg:w-3/4">
                    We’ll make it official at 2.30PM. <br>
                    Lots of food, drinks & dancing to follow.
                </p>
                <span class="inter text-sm font-medium my-1">DRESS CODE - GARDEN PARTY CHIC</span>
            </div>
        </div>
        <div class="section-2 h-1/2 md:h-full w-full mt-2 md:mt-0 md:my-2 flex flex-col justify-center items-center">
            <div class="w-4/5 lg:w-3/5 text-left">
                <span class="inter text-sm font-medium my-1"> DAY 2 - 16/06/23</span>
                <h3 class="lora text-3xl lg:text-7xl">Pool Party</h3>
                <p class="inter py-3 lg:w-3/4">
                    To continue the celebrations come enjoy the sun and take a plunge. From 1:00PM. <br>
                </p>
                <span class="inter text-sm font-medium my-1">BYOB, SUNSCREEN RECOMMENDED</span>
            </div>
        </div>
    </div>
</div>
