<div class="h-screen-150 md:h-screen text-hero flex flex-col justify-center items-center green-text">
    <div class="chateau mx-2 mx-1 flex flex-col justify-center items-center">
        <h2 class="text-xs font-medium my-1"> WHERE </h2>
        <p class="text-3xl lg:text-7xl"> Chateeau De Seáine</p>
        <p class="text-base text-center w-4/5"> Exceptional rental of authentic medieval houses renovated with chic luxury in the private hamlet of Château de Ribaute
        near Béziers in Hérault in the south of France.</p>
        <a class="bg-green-800 hover:bg-green-900 text-white font-bold my-2 py-2 px-4 rounded-full">VIEW ON MAPS</a>
    </div>

    <div class="sections h-full w-full flex flex-col md:flex-row">
        <div class="section-1 h-1/2 md:h-full w-full mt-2 md:mt-0 md:my-2 flex flex-col justify-center items-center">
            <div class="w-4/5 text-left">
                <span class="inter text-xs font-medium my-1"> Day 1 - 16/06/23</span>
                <h3 class="lora text-3xl lg:text-7xl">Ceremony</h3>
                <p class="inter py-3">A wedding is a ceremony where two people are united in marriage. Wedding traditions and customs vary greatly between
                cultures, ethnic groups, religions, countries, and social classes.
                </p>
                <span class="inter">Underpants optional</span>
            </div>
        </div>
        <div class="section-2 h-1/2 md:h-full w-full mt-2 md:mt-0 md:my-2 flex flex-col justify-center items-center">
            <div class="w-4/5 text-left">
                <span class="inter text-xs font-medium my-1"> Day 2 - 17/06/23</span>
                <h3 class="lora text-3xl lg:text-7xl">Party</h3>
                <p class="inter py-3">A party is a gathering of people who have been invited by a host for the purposes of socializing, conversation,
                    recreation, or as part of a festival or other commemoration or celebration of a special occasion.
                </p>
                <span>Sunscreen Recommended</span>
            </div>
        </div>
    </div>
</div>
