.chateau {
    position: relative;
}

.chateau::before {
    content: "";
    background-image: url("../../../assets/chateau-PLACEHOLDER.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #EFF4FF;
    opacity: 20%;
}

.section-1 {
    background-color: #EFF4FF;
}

.section-2 {
    background-color: #FFFCE1;
}