.chateau {
    position: relative;
    height: 100%;
    width: 100%;
}

.chateau::before {
    content: "";
    background-image: url("../../../assets/venue_image.jpeg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #EFF4FF;
    opacity: 20%;
}

.section-1 {
    background-color: #EFF4FF;
}

.section-2 {
    background-color: #FFFCE1;
}

@media (min-width: 768px) {

    .sections {
        height: 30%;
    }

    .chateau {
        height: 70%;
    }
}

@media (min-width: 1024px) {

    .sections {
        height: 50%;
    }

    .chateau {
        height: 50%;
    }
}