nav {
    background-color: rgba(148, 163, 184);
    z-index: 1000;
}

.initial-opacity {
    opacity: 0.75;
}

.full-opacity {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0.65;
    }

    100% {
        opacity: 1;
    }
}