<nav id="nav" [ngClass]="[menuStyle]" class="fixed w-screen flex flex-wrap items-center justify-between px-2 py-3">
    <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
        <div class="w-full flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
            <a class="opacity-100 text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white"
                href="#pablo">
                Á &amp; S
            </a>
            <button (click)="toggleNavbar()"
                type="button"
                class="opacity-100 lg:hidden fixed z-50 right-0 mx-2 bg-gray-900 inline items-center justify-center p-2 rounded-md
                text-gray-400 hover:text-white hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2
                focus:ring-offset-gray-800 focus:ring-white"
                aria-controls="mobile-menu"
                aria-expanded="false"
                >
                
                <svg *ngIf="showMenu; else closeMenuBlock" class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" aria-hidden="true">
                    <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
                <ng-template #closeMenuBlock>
                    <svg  class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" aria-hidden="true">
                        <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </ng-template>
            </button>
        </div>
        <div [ngClass]="{'hidden': !showMenu, 'flex': showMenu}" class="lg:flex lg:flex-grow items-center" >
            <ul class="flex flex-col lg:flex-row list-none ml-auto">
                <li class="nav-item">
                    <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white"
                        href="#RSVP">
                        <i class="fab fa-facebook-square text-lg leading-lg text-white"></i><span
                            class="ml-2">RSVP</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white"
                        href="#where&when">
                        <i class="fab fa-twitter text-lg leading-lg text-white"></i><span
                            class="ml-2">Where & When</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white"
                        href="#travel">
                        <i class="fab fa-pinterest text-lg leading-lg text-white"></i><span
                            class="ml-2">Travel</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>