<div class="rsvp py-24 md:py-30">
    <div class="flex flex-col w-10/12 md:w-2/3 m-auto">
        <div class="flex flex-col items-center pt-12">
            <p class="inter text-xs font-medium green-text my-1">WE'D LOVE TO SEE YOU THERE</p>
            <h3 class="green-text text-3xl lora">RSVP</h3>
        </div>
        
        <form class="contact-form flex flex-col" (submit)="sendEmail($event)">
            <label class="py-0.5 inter text-xs font-medium green-text">NAME</label>
            <input class="my-1 px-1 py-0.5" type="text" name="user_name">
            <label class="py-0.5 inter text-xs font-medium green-text">EMAIL</label>
            <input class="my-1 px-1 py-0.5" type="email" name="user_email">
            <div class="my-5 flex flex-row justify-around">
                <input type="radio" name="rsvpGroup" value="rsvp_yes" id="rsvp_yes"><label class="radio-label" for="rsvp_yes">I'LL BE THERE</label>
                <input type="radio" name="rsvpGroup" value="rsvp_no" id="rsvp_no"><label class="radio-label" for="rsvp_no">I CAN'T MAKE IT</label>
            </div>
            
            
            <label class="inter text-xs font-medium green-text">NUMBER OF GUESTS</label>
            <div class="flex flex-row py-3 justify-evenly">
                <input type="radio" name="numberGroup" value="one" id="one"><label class="radio-label" for="one">1</label>
                <input type="radio" name="numberGroup" value="two" id="two"><label class="radio-label" for="two">2</label>
                <input type="radio" name="numberGroup" value="three" id="three"><label class="radio-label" for="three">3</label>
                <input type="radio" name="numberGroup" value="four" id="four"><label class="radio-label" for="four">4</label>
                <input type="radio" name="numberGroup" value="five" id="five"><label class="radio-label" for="five">5</label>
            </div>

            <label class="py-0.5 inter text-xs font-medium green-text">NAME</label>
            <textarea class="my-1 px-1 py-1" name="message"></textarea>

            <input class="mx-auto w-24 mt-10 inter bg-green-800 hover:bg-green-900 text-white font-bold py-1 px-4 rounded-full" type="submit" value="RSVP">
        </form>
    </div>
</div>