.rsvp {
    background-color: #EFF4FF;
}

input[type='radio'][name='numberGroup'] {
    display: none;
}

input[type='radio'][name='rsvpGroup'] {
    display: none;
}

.radio-label {
    font-size: 0.75rem;
    line-height: 1rem;
    font-family: 'Inter', sans-serif;
    display: inline-block;
    padding: 3px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    background-color: #FFF;
    width: 12em;
    text-align: center;
    margin: 0 0.15em;
    color: #22381B;
}

input[type='radio'][name='numberGroup']:checked+label {
    background-color: #22381B;
    color: #FFF
}

input[type='radio'][name='rsvpGroup']:checked+label {
    background-color: #22381B;
    color: #FFF
}