<div class="travel-lodging h-screen flex flex-col justify-center items-center light-green-text">
    <div class="w-4/5 space-y-6">
        <div class="content-section">
            <h3 class="inter text-xs font-medium">TRAVEL</h3>
            <p class="text-base lora">Getting there is easy. There are several flights a week from Cork, Dublin, and Knock.
            </p>
            <ul class="text-white mt-4 text-sm font-medium inter">
                <li class="py-1"><span class="ml-2">Bordeaux Airport <a target="_blank"
                    href="https://www.google.com/maps/dir/Bordeaux+Airport,+M%C3%A9rignac,+France/BELVILLA+-+(FR-00020-42+)+Grand+ch%C3%A2teau+%C3%A0+Saint+Caprais+de+Lerm+avec+sauna+et+bain+%C3%A0+bulles,+Chateau+la+Colombie,+47270+Saint-Caprais-de-Lerm,+France/@44.5201095,-1.0961301,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0xd54daf55f7d4389:0x610c52b21795ac26!2m2!1d-0.7128731!2d44.829514!1m5!1m1!1s0x12abbb329ffd8753:0x15b0234e26e79bee!2m2!1d0.762594!2d44.230287!3e0">(1H
                    To Venue)</a></span></li>
                <li class="py-1"><span class="ml-2">Paris</span></li>
                <li class="py-1"><span class="ml-2">Marseille</span></li>
            </ul>
        </div>
        <div class="content-section">
            <h3 class="inter text-xs font-medium">ACCOMODATION</h3>
            <p class="text-base lora" >There are lots of places to stay nearby, check out some of the local hotels, or checkout AirBnb or Booking.com
            </p>
            <ul class="text-white mt-4 text-sm font-medium inter">
                <li class="py-1"><span class="ml-2">Bordeaux Airport <a target="_blank"
                            href="https://www.google.com/maps/dir/Bordeaux+Airport,+M%C3%A9rignac,+France/BELVILLA+-+(FR-00020-42+)+Grand+ch%C3%A2teau+%C3%A0+Saint+Caprais+de+Lerm+avec+sauna+et+bain+%C3%A0+bulles,+Chateau+la+Colombie,+47270+Saint-Caprais-de-Lerm,+France/@44.5201095,-1.0961301,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0xd54daf55f7d4389:0x610c52b21795ac26!2m2!1d-0.7128731!2d44.829514!1m5!1m1!1s0x12abbb329ffd8753:0x15b0234e26e79bee!2m2!1d0.762594!2d44.230287!3e0">(1H
                            To Venue)</a></span></li>
                <li class="py-1"><span class="ml-2">Paris</span></li>
                <li class="py-1"><span class="ml-2">Marseille</span></li>
            </ul>
        </div>
        <div>
            <h3 class="inter text-xs font-medium">TAXIS</h3>
            <p class="text-base lora">We’ll get you home after a big night on the pints, don’t you worry. It’ll be grand.
            </p>
            <ul class="text-white mt-4 text-sm inter font-medium">
                <li class="py-1">LOCAL TAXI #1 - CALL <a href="tel">+33 084 981 7739</a></li>
                <li class="py-1">LOCAL TAXI #1 - CALL <a href="tel">+33 084 981 7739</a></li>
                <li class="py-1">LOCAL TAXI #1 - CALL <a href="tel">+33 084 981 7739</a></li>
            </ul>
        </div>
    </div>
</div>