<div id="travel" class="travel-lodging h-full py-24 md:py-30 flex flex-col justify-center items-center light-green-text">
    <div class="w-4/5 lg:w-1/2 space-y-6">
        <div class="content-section">
            <h3 class="inter text-xs font-medium my-1">TRAVEL</h3>
            <p class="text-base lora pt-1">There are several flights a week from Cork and Dublin.
            </p>
            <ul class="text-white mt-4 text-sm font-medium inter">
                <li class="py-1"><span class="ml-2">Toulouse Airport <a target="_blank"
                    href="https://www.google.com/maps/dir/Toulouse-Blagnac+Airport,+J9H9%2BQ3,+31703+Blagnac,+France/BELVILLA+-+(FR-00020-42+)+Grand+ch%C3%A2teau+%C3%A0+Saint+Caprais+de+Lerm+avec+sauna+et+bain+%C3%A0+bulles,+Chateau+la+Colombie,+47270+Saint-Caprais-de-Lerm,+France/@43.924265,0.813882,10z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x12aea552ded709b5:0x66f417d01d8268f6!2m2!1d1.3676875!2d43.6294375!1m5!1m1!1s0x12abbb329ffd8753:0x15b0234e26e79bee!2m2!1d0.762594!2d44.230287!3e0">(1:20H
                    To Venue)</a></span></li>
                <li class="py-1"><span class="ml-2">Bordeaux Airport <a target="_blank"
                    href="https://www.google.com/maps/dir/Bordeaux+Airport,+M%C3%A9rignac,+France/BELVILLA+-+(FR-00020-42+)+Grand+ch%C3%A2teau+%C3%A0+Saint+Caprais+de+Lerm+avec+sauna+et+bain+%C3%A0+bulles,+Chateau+la+Colombie,+47270+Saint-Caprais-de-Lerm,+France/@44.5201095,-1.0961301,8z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0xd54daf55f7d4389:0x610c52b21795ac26!2m2!1d-0.7128731!2d44.829514!1m5!1m1!1s0x12abbb329ffd8753:0x15b0234e26e79bee!2m2!1d0.762594!2d44.230287!3e0">(1:40H
                    To Venue)</a></span></li>
                <li class="py-1"><span class="ml-2">Carcassonne Airport <a target="_blank"
                    href="https://www.google.com/maps/dir/Carcassonne,+11000,+France/BELVILLA+-+(FR-00020-42+)+Grand+ch%C3%A2teau+%C3%A0+Saint+Caprais+de+Lerm+avec+sauna+et+bain+%C3%A0+bulles,+Chateau+la+Colombie,+47270+Saint-Caprais-de-Lerm,+France/@43.711543,0.9794922,9z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x12ae2c390116bd8b:0xe28fdf3b77a114c7!2m2!1d2.3517703!2d43.2132151!1m5!1m1!1s0x12abbb329ffd8753:0x15b0234e26e79bee!2m2!1d0.762594!2d44.230287!3e0">(2:20H
                    To Venue)</a></span></li>
                <li class="py-1"><span class="ml-2">Fancy the train instead?<a target="_blank"
                            href="https://www.sncf.com/en"> All cities have direct routes to Agen</a></span></li>
            </ul>
        </div>
        <div class="content-section">
            <h3 class="inter text-xs font-medium my-1">ACCOMODATION</h3>
            <p class="text-base lora pt-1" >
                There are lots of places to stay nearby - stay in the historic market town of Agen or choose a château in the heart of
                the Lot valley.
            </p>
            <ul class="text-white mt-4 text-sm font-medium inter">
                <li class="py-1"><span class="ml-2"><a target="_blank" href="https://www.booking.com/Share-AG8Ltl">Art Deco Boutique Hotel in Agen</a></span></li>
                <li class="py-1"><span class="ml-2"><a target="_blank" href="https://www.booking.com/hotel/fr/residence-astoria.en-gb.html">Central Agen Aparthotel</a></span></li>
                <li class="py-1"><span class="ml-2"><a target="_blank" href="https://www.booking.com/hotel/fr/minotelaltair.en-gb.html">Best Western Agen</a></span></li>
                <li class="py-1"><span class="ml-2"><a target="_blank" href="https://www.airbnb.ie/s/Saint~Caprais~de~Lerm--France/homes?flexible_trip_lengths%5B%5D=one_week&query=Saint-Caprais-de-Lerm%2C%20France&place_id=ChIJLbE5_XqwqxIRVvpiNOW0BVU&refinement_paths%5B%5D=%2Fhomes&tab_id=home_tab&date_picker_type=calendar&checkin=2023-06-15&checkout=2023-06-17&source=structured_search_input_header&search_type=autocomplete_click"></a>View Listings on Airbnb</span></li>
                <li class="py-1"><span class="ml-2"><a target="_blank" href="https://www.booking.com/searchresults.en-gb.html?ss=Saint-Caprais-de-Lerm%2C+Aquitaine%2C+France&ssne=Agen&ssne_untouched=Agen&efdco=1&label=gen173nr-1FCAEoggI46AdIM1gEaGmIAQGYAQm4AQfIAQzYAQHoAQH4AQuIAgGoAgO4Ar_K0p0GwAIB0gIkMDczZWM2YTItNzc5YS00NmY0LWFhNmMtODVkODhkMjdiNjli2AIG4AIB&sid=461fb74b7ebdf83006f5b50ec05a0837&aid=304142&lang=en-gb&sb=1&src_elem=sb&src=searchresults&dest_id=-1464213&dest_type=city&ac_position=0&ac_click_type=b&ac_langcode=en&ac_suggestion_list_length=1&search_selected=true&search_pageview_id=68dc9ae4a10f0023&ac_meta=GhA2OGRjOWFlNGExMGYwMDIzIAAoATICZW46FXNhaW50IGNhcHJhaXMgZGUgbGVybUAASgBQAA%3D%3D&checkin=2023-06-15&checkout=2023-06-17&group_adults=2&no_rooms=1&group_children=0&sb_travel_purpose=leisure">View Listings on Booking.com</a></span></li>
            </ul>
        </div>
        <div>
            <h3 class="inter text-xs font-medium my-1">TAXIS</h3>
            <p class="text-base lora pt-1">24/7 services, pre-booking essential
            </p>
            <ul class="text-white mt-4 text-sm inter font-medium">
                <li class="py-1"><a target="_blank" href="https://taxi-loussal.business.site">Local Taxi #1</a> - Call <a href="tel:+33-6-76-90-96-80">+33 6 7690 9680</a></li>
                <li class="py-1"><a target="_blank" href="https://taxiagen.com/">Local Taxi #2</a> - Call <a href="tel:+33-6-09-37-07-74">+33 6 0937 0774</a></li>
                <li class="py-1"><a target="_blank" href="https://taxialex.business.site/">Local Taxi #3</a> - Call <a href="tel:+33-6-47-47-31-52">+33 6 4747 3152</a></li>
                <li class="py-1"><a target="_blank" href="https://taxi-chevallier.fr/transport-de-groupe-agen/">Local Taxi #4</a> - Call <a href="tel:+33-6-07-37-66-79">+33 6 0737 6679</a> - Large Groups</li>
            </ul>
        </div>
    </div>
</div>