<div class="travel-lodging h-screen flex flex-col justify-center items-center light-green-text">
    <div class="w-4/5 space-y-6">
        <div class="">
            <h3 class="inter text-xs">TRAVEL</h3>
            <p class="text-lg">Getting there is easy. There are several flights a week from Cork, Dublin, and Knock.
            </p>
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </div>
        <div>
            <h3 class="inter text-xs">ACCOMODATION</h3>
            <p class="text-lg" >There are lots of places to stay nearby, check out some of the local hotels, or checkout AirBnb or Booking.com
            </p>
        </div>
        <div>
            <h3 class="inter text-xs">TAXIS</h3>
            <p class="text-lg">We’ll get you home after a big night on the pints, don’t you worry. It’ll be grand.
            </p>
        </div>
    </div>
</div>