<div class="relative h-screen-50 w-full flex flex-col md:flex-row">
    <div class="z-10 centered green-text lg:w-2/6">
        <h3 class="inter text-sm font-medium my-1">GIFTS INFO</h3>
        <p class="text-3xl lg:text-5xl text-left lora">Your presence is the best present we could ask for.</p>
        <p class="inter text-sm font-medium my-1">DON'T BUY US STUFF</p>
    </div>
    <div class="section-1 h-1/2 md:h-full w-full z-0"></div>
    <div class="section-2 h-1/2 md:h-full w-full z-0"></div>
</div>